body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:gray

}

/* .tema {
  margin:4% 8% 4% 8%;
  height: 100%;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
}

.column-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column-item {
  margin: 5%;
} */
